.splash {
    width: 100%;
    height: 100vh;
    background: #0A192F;
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
} 

.splash.display-none {
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: skyblue;
    z-index: -10;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 0.6s;
} 

.splash h1 {
    line-height: 90vh;
    text-align: center;
    color: white;
    font-size: 48px;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

html, body {
    width: 50%;
    margin: 0 auto;
    background: #333333;
}

main {
   width: 600px;
   vertical-align: middle;
} 

main h1 {
    color: white;
    text-transform: uppercase;
}

#listItem {
    height: 26px;
    width: 300px;
    border: 1px solid skyblue;
    outline: none;
    background: gray;
    color: #CCD6F6;
    font-size: 16px;
    font-weight: 600;
}

#addItem {
    height: 30px;
    width: 40px;
    outline: none;
    border: 1px solid skyblue;
    background-color: skyblue;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
}

#addItem:hover {
    background-color: white;
    color: skyblue;
}

#list-item-container {
    line-height: 10px;
    font-weight: bold;
    color: white;
}

#list-item-container {
    font-size: 20px;
}


.remove {
  margin-left: 5px;
  border: 1px solid skyblue;
  color: aliceblue;
  background-color: skyblue;
  font-weight: bold;
  border-radius: 10px;
}

.remove:hover {
    background-color: white;
    color: skyblue;
}

.fa-pencil {
  margin-left: 5px;
  color: aliceblue;
  font-weight: bold;
  font-size: 15px;
}

.fa-pencil:hover {
    color: skyblue;
    vertical-align: middle;
}

.addField {
    background: grey;
    border: 1px solid skyblue;
    margin-left: 5px;
    color: white;
    outline: none;
}

.save {
    color: white;
    background-color: skyblue;
    border: 1px solid skyblue;
    font-weight: bold;
}



.fa-square-o {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    display: inline;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.fa-undo{
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin-left: 10px;
    color: rgb(250, 254, 255);
    font-size: 12px;
    text-decoration: none;
}

#check {
    text-decoration:dashed;
}

@media only screen and (max-width: 390px) {
    .splash {
        width: 100%;
        height: 100vh;
        background: #0A192F;
        z-index: 1000;
        top: 0;
        left: 0;
        position: fixed;
    } 

    .splash.display-none {
        opacity: 0;
        height: 50vh;
        background: skyblue;
        z-index: -10;
        top: 0;
        left: 0;
        position: fixed;
        transition: all 0.6s;
    } 
    
    .splash h1 {
        text-align: center;
        color: white;
        font-size: 20px;
    }
    
    @keyframes fadeIn {
        to{
            opacity: 1;
        }
    }
    
    .fade-in {
        opacity: 0;
        animation: fadeIn 2s ease-in-out forwards;
    }
    
    html, body {
        width: 100%;
        margin: 0 auto;
        background: #333333;
    }
    
    main {
       width: 360px;
       vertical-align: middle;
    } 
    
    main h1 {
        color: white;
        text-transform: uppercase;
        font-size: 16px;
    }
    
    #listItem {
        height: 20px;
        width: 100px;
        border: 1px solid skyblue;
        outline: none;
        background: gray;
        color: #CCD6F6;
        font-size: 10px;
        font-weight: 600;
        border-radius: 0;
    }
    
    #addItem {
        height: 24px;
        width: 38px;
        outline: none;
        border: 1px solid skyblue;
        background-color: skyblue;
        color: aliceblue;
        font-weight: bold;
        font-size: 15px;
        vertical-align: bottom;
    }
    
    #addItem:hover {
        background-color: white;
        color: skyblue;
    }
    
    #list-item-container {
        line-height: 10px;
        font-weight: bold;
        color: white;
    }
    
    #list-item-container {
        font-size: 16px;
    }
    
    
    .remove {
      margin-left: 5px;
      border: 1px solid skyblue;
      color: aliceblue;
      background-color: skyblue;
      font-weight: bold;
      border-radius: 10px;
    }
    
    .remove:hover {
        background-color: white;
        color: skyblue;
    }
    
    .fa-pencil {
      margin-left: 5px;
      color: aliceblue;
      font-weight: bold;
      font-size: 15px;
    }
    
    .fa-pencil:hover {
        color: skyblue;
        vertical-align: middle;
    }
    
    .addField {
        background: grey;
        border: 1px solid skyblue;
        margin-left: 5px;
        color: white;
        outline: none;
    }
    
    .save {
        color: white;
        background-color: skyblue;
        border: 1px solid skyblue;
        font-weight: bold;
    }
    
    
    
    .fa-square-o {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        display: inline;
        margin-left: 10px;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    
    .fa-undo{
        width: 10px;
        height: 10px;
        vertical-align: middle;
        margin-left: 10px;
        color: rgb(250, 254, 255);
        font-size: 12px;
        text-decoration: none;
    }
    
    #check {
        text-decoration:dashed;
    }
}